.mat-toolbar-row {
  height: 55px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 55px !important;
}

.navBar {
  width: 100vw;

  .icon {
    margin-left: 14px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
