.card-list {
  width: 100%;
  height: 100%;
  padding: 10px 0 0;

  .title-card {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #3F50B5;
  }

  .content-card {
    width: 100%;
    height: 80%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;

    .table-stations {
      width: 80%;
      text-align: center;

      .is-alive {
        color: forestgreen;
      }

      .is-not-alive {
        color: indianred;
      }

      .edit-btn {
        color: #3F50B5;
      }

      .delete-btn {
        color: black;
      }

      .icon-btn {
        cursor: pointer;
      }
    }
  }
}

/deep/ .mat-sort-header-container {
  justify-content: center;
}
