<div class="dashboard-content">
  <div class="top-components">
<!--    form component here-->
    <div class="stations-form-component">
      <app-stations-form></app-stations-form>
    </div>
    <!--    list component here-->
    <div class="stations-list-component">
      <app-stations-list></app-stations-list>
    </div>
  </div>
  <div class="bottom-component">
    <!--    list component here-->
    <div class="station-detail-component">
      <app-station-details></app-station-details>
    </div>
  </div>
</div>
